@import './variables';

body {
  background: $color--bg;
  color: $color--text;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
}

a {
  color: $color--link;
  &:hover, &:focus {
    color: $color--link-hover;
  }
  &:visited {
    color: $color--link-visited;
    &:hover, &:focus {
      color: $color--link-hover;
    }
  }
}

ul {
  padding: 0 0 0 1em;
}

li {
  list-style-type: none;
  position: relative;
}

li:before {
  content: '*';
  position: absolute;
  left: -1em;
}
